.totals-container {
    margin-top: 10px;
    background-color: rgb(73, 73, 73) !important;
    $muted-color: rgb(192, 192, 192);

    &>.list {
        padding: 0;
    }

    & .subtotal-container {
        padding: 5px 5px !important;
        display: flex;


        &>.label {
            flex-grow: 1;
            color: $muted-color
        }

        &>.value {
            text-align: right;
            padding: 5px;
            margin: 0 5px;
            color: $muted-color
        }
    }

    & .tax-container {
        padding: 5px 5px !important;
        display: flex;

        &.selected {
            background-color: rgb(110, 110, 110);
        }

        &>.label {
            flex-grow: 1;
            color: $muted-color
        }

        &>.value {
            margin: 0 5px;
            color: $muted-color;
            padding-left: 5px;

            &>.MuiInputAdornment-root {
                margin: 0;

                &>p {
                    color: $muted-color;
                    font-family: 'Varela Round';
                }
            }

            & fieldset {
                border-width: 1px;
            }

            &.Mui-disabled {
                & fieldset {
                    border: none;
                }
            }

            &>.MuiInputBase-input {
                padding: 5px;
                width: 45px;
                font-family: 'Varela Round';
                text-align: right;
            }
        }
    }

    & .tip-container {
        padding: 5px 5px !important;
        display: flex;

        &.selected {
            background-color: rgb(110, 110, 110);
        }

        &>.label {
            flex-grow: 1;
            color: $muted-color
        }

        &>.value {
            margin: 0 5px;
            color: $muted-color;
            padding-left: 5px;

            &>.MuiInputAdornment-root {
                margin: 0;

                &>p {
                    color: $muted-color;
                    font-family: 'Varela Round';
                }
            }

            & fieldset {
                border-width: 1px;
            }

            &.Mui-disabled {
                & fieldset {
                    border: none;
                }
            }

            &>.MuiInputBase-input {
                padding: 5px;
                width: 45px;
                font-family: 'Varela Round';
                text-align: right;
            }
        }
    }

    & .total-container {
        padding: 5px 5px !important;
        display: flex;


        &>.label {
            flex-grow: 1;
            color: white
        }

        &>.value {
            text-align: right;
            padding: 5px;
            margin: 0 5px;
            color: white;
        }
    }
}